$theme-colors: (
    "primary": #6184D8,
    "secondary": #50C5B7,
    "danger": #533A71,
    "success": #9CEC5B,
    "warning": #F0F465
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-body {
    font-family: 'Courier New', Courier, monospace;

}

.p, .card-footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}